.replaceInActiveElement {
  position: fixed;
  bottom: 1em;
  left: 2em;
  border: dashed 2px;
}

input.from, input.to {
  background: skyblue;
  color: black;
  opacity: 0.8;
/*   font-size: large; */
}
