.replaceInActiveElement {
  position: fixed;
  bottom: 1em;
  left: 2em;
  background: white;
  opacity: 0.9;
}

input.from, input.to {
  background: azure;
  color: black;
/*   font-size: large; */
}

a.json {
  border: dashed 2px;
}